<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Random Word Generator</h1>
    <h2>I've pressed the generate button this many times:</h2>
    <h2>{{request.session.count}}</h2>
    <h3>{{request.session.word}}</h3>

    <form action='/generate' method="POST">
        {% csrf_token %}
        <input type="submit" value="Generate">
    </form>
    <form action='/reset' method="POST">
        {% csrf_token %}
        <input type="submit" value="Reset">
    </form>
</body>
</html>